:root {
    --orange:#F1592A;
    --teal:#13A89E;
  }
@media screen and (max-width:959px){
    .about-area .HUGHES2{
        width:350px;
    }
}
@media screen and (max-width:765px){
    .group-color .group-color2{
        display: none;
    }
    .about-area .HUGHES2{
        width:400px;
    }
}
@media screen and (max-width:493px){
    .about-area .HUGHES2{
        width:290px;
    }
}
@media screen and (max-width:1024px){
  .about-area .about-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin: 0rem 2rem; */
  }
}
@media screen and (max-width:769px){
    .main-area{
        width: 100%;
        height: 100vh;
    }
      .intro-header{
          text-align: center;
          padding: 0px 30px;
          margin: 0px 0rem;
      }
      .intro-header h1{
        color: var(--orange);
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 2%;
      }
      .intro-header p{
          display: none;
      }
      /* about */
      .about-area{
          text-align: center;
      }
      .about-area .carousel img{
        width: 60vw;
        height: 60vh;
      }
      .about-area .separator{
          display: none;
      }
      .about-area .about-me{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0rem 2rem;
      }
      .about-area .text{
        margin-left: 0px;
      }
      /* gallery */
      .gallery-area  .background-header h1{
        font-size: 3.2rem;
      }
      .my-gallery .gallery-items{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .my-gallery .image1, .my-gallery .image2, .my-gallery .image3, .my-gallery .image4, .my-gallery .image5, .my-gallery .image6{
        width:100%;
        height: 60vh;
        margin: 0px 0px;
      }
      /* accessories */
      .background-header{
          text-align: center;
      }
      .accessories-area  .background-header h1{
        font-size: 3.2rem;
      }
      .accessories-area .accessories-item .accessory-group ,.accessories-area .accessories-item .reverse{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5rem 0rem;
      }
      .accessories-area .accessories-item .access-img{
        width: 330px;
        height: auto;
        z-index: 999;
        margin-right: 0px;
        margin-bottom: 30px;
      }
      .accessories-area .accessories-item .details{
        text-align: start;
        margin-bottom: 30px;
        padding-left: 0px;
        /* margin:0px; */
      }
      .accessories-area .accessories-item .details .other-details{
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        margin:4px 0px;
      }
      .accessories-area .accessories-item .details h4{
          padding-top: 10px;
      }
     
}

/* hide separtor */
@media screen and (max-width:1148px){
    .about-area .separator{
        display: none;
    }
}
@media screen and (max-width:450px){
  .accessories-area .accessories-item .access-img{
    width: 300px;
    height: auto;
    z-index: 999;
    margin-right: 0px;
  }
  .intro-header h1{
    margin-top: 70px;
  }
}