:root {
  --orange:#F1592A;
  --teal:#13A89E;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-area{
  width: 100%;
  height: 100vh;
  background-image: url("./assets/william-thomas-ny6tO4ItOEY-unsplash.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: ; */
  background-color: #adcecc;
  position: relative;
}
/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  height: 50px;
  width: 100%;
  padding: 50px 30px;
  position: relative;
}
.navbar .logo-img{
  width: 100px;
  height: auto;
  cursor: pointer;
}
.nav-menu{
  display: block;
}
.navbar ul{
  list-style: none;
}
.navbar ul li{
  display: inline-block;
  padding:0rem 1.5rem;
}
.navbar ul li a{
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 3%;
  transition: 0.1s ease-in all;
}
.navbar ul li a:hover{
  transition: 0.1s ease-in all;
  color: var(--orange);
}
/* menu bar */
.menu-toggle{
  display: none;
}
.menu-toggle .bar{
  display: block;
  width: 30px;
  height: 4px;
  margin:5px auto;
  border-radius: 5px;
  background-color: white;
  transition: all 0.3s ease-in;
}
.socials{
  position: relative;
 
}
.socials ul li{
  margin: 15px;
  list-style: none;

}
.socials ul li a{
  background-color: white;
  border-radius: 10px;
  padding:0.5rem;
  color:var(--orange)
}
.socials ul li a:hover{
  transition: all 0.3s ease-in;
  background-color: var(--orange);
  color:white
}
.intro-header {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.intro-header h1{
  color: var(--orange);
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 2%;
}
.intro-header p{
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2%;
  margin-top: 1rem;
}