@media screen and (max-width:959px){
    .about-area .HUGHES2{
        width:350px;
    }
}
@media screen and (max-width:765px){
    .group-color .group-color2{
        display: none;
    }
    .about-area .HUGHES2{
        width:400px;
    }
}
@media screen and (max-width:493px){
    .about-area .HUGHES2{
        width:290px;
    }
}

@media screen and (max-width:769px){
    .main-area{
        width: 100%;
        height: 100vh;
    }
    .nav-menu{
        opacity: 0;
        bottom:200px;
        position: absolute;
    }
    .navbar ul li{
        display: block;
        width: 100%;
        padding:60px 0px;
        text-align: center;
        z-index: 9;
    }
    .navbar ul li a{
        color: white;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        letter-spacing: 2%;
        cursor: pointer;
        outline: none;
    }
    .navbar ul li a:hover{
        color: var(--teal);
        transition: all 0.3s ease-in;
    }
    
    .nav-menu.active{
        background-color:var(--orange);
        left:0;
        opacity: 10;
        transition: all 0.3s ease-in;
        /* width: 100%; */
        margin: 2rem 0rem;
        border-radius: 12px;

    }
    .menu-toggle{
        display: block;
        cursor: pointer;
      }
      #mobile-menu.is-active .bar:nth-child(2){
          opacity: 0;
      }
      #mobile-menu.is-active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
      }
      #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
      .intro-header{
          text-align: center;
          padding: 0px 30px;
      }
      .intro-header h1{
        color: var(--orange);
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2%;
      }
      /* about */
      .about-area{
          text-align: center;
      }
      .about-area .separator{
          display: none;
      }
      /* gallery */
      .gallery-area  .background-header h1{
        font-size: 3.2rem;
      }
      .my-gallery .gallery-items{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .my-gallery .image1, .my-gallery .image2, .my-gallery .image3, .my-gallery .image4, .my-gallery .image5, .my-gallery .image6{
        width:100%;
        height: 60vh;
        margin: 0px 0px;
      }
      /* accessories */
      .background-header{
          text-align: center;
      }
      .accessories-area  .background-header h1{
        font-size: 3.2rem;
      }
      .accessories-area .accessories-item .access-img{
        width: 340px;
        height: auto;
      }
     
      .accessories-area .accessories-item .details{
        text-align: start;
        margin-bottom: 50px;
        padding-left: 10px;
      }
      .accessories-area .accessories-item .details .other-details{
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        margin:4px 0px;
      }
      .accessories-area .accessories-item .details h4{
          padding-top: 10px;
      }
     
}

/* hide separtor */
@media screen and (max-width:1148px){
    .about-area .separator{
        display: none;
    }
}